h1 {
    color: rgb(255, 217, 0);
}
h2{
   text-align: center;
    color: rgb(99, 7, 7);
}
h3{
    color: rgb(251, 255, 0);
}
h4 {
    color: rgb(0, 0, 0);
}
h6 {
text-align: right;

}
h5 {
text-align: left;

}
.imagem {
    border-color: yellow;
    border-width: 15px;
    border-style: groove;
    text-align: center;
    width: 700px;

}
body {
    background-color: rgb(102, 102, 102);
    text-align: center;
}

.pirelli {
    font-style: italic;

}
.brilho {
   color: rgb(255, 0, 0);
    font-style: initial
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        color: rgb(0, 0, 0);
    }

nav a{
    text-transform: capitalize;
    color: rgb(255, 251, 0);
    font-weight: 300;
    font-size: 220%;
    text-decoration:none;
}