h1 {
    text-align:start;
    background-color: rgb(255, 145, 0);
}
h3{
    font-style: italic;
    background-color: rgb(255, 208, 0);
}

p {
    text-align: center;
    font-size: xx-large;
}
strong {
    font-size: medium;
}

body {
    background-color: rgb(73, 72, 73);
}
.imagem1 {
    width: 1300px;
}
.unicornio {
    background-color: rgb(0, 255, 0)

}
.brilho {
   color: rgb(255, 0, 212);
    font-style: bold 
}
.lista {
        display: inline-block;
        padding: 99%;
        padding: 1%;
        margin-right: 5%;
    }
 